@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030E21 !important;
}

/* header */
nav p {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.7);
}

nav ul li {
    padding: 0 40px !important;
    background-color: transparent !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
    border: none !important;
}

.purple {
    position: absolute;
    width: 1053.38px;
    height: 594.77px;
    left: 473.54px;
    z-index: -2;
    top: -89px;
    background: linear-gradient(180deg, rgba(47, 69, 188, 0.9) 0%, rgba(47, 188, 188, 0) 100%);
    filter: blur(60px);
}

.row {
    margin-bottom: 40px;
}

/* header end */
/* main start */
#designer {
    font-weight: 600;
    font-size: 47px;
    line-height: 70px;
    color: #FFFFFF;

}

#designer+p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    /* identical to box height */
    color: #FFFFFF;

}

.line {
    width: 183px;
    height: 8px;
    background: #F8E7A1;
}

.col-lg-3 {

    position: absolute !important;
    left: 40%;
    z-index: -2;
    max-width: 510px !important;

}

.line+p {
    padding: 20px 0;
    width: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.col-lg-7 {
    margin-top: 15%;
}

.col-lg-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #868490;
}

.col-lg-2 ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;

    color: #868490;

}

.col-lg-2 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 108px;
    /* identical to box height */


    color: #FFFFFF;
}

.col-lg-7 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #F8E7A1;
}

#designer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 70px;
    color: gray;
}

.col-lg-2 img {
    width: 510px;
    height: 750px;
}

/* main end */
/* logos */
.logos {
    width: 1440px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-top: 110px;
    background: rgba(9, 20, 39, 0.6);
    backdrop-filter: blur(4px);
}

.logos p {
    color: gray;
    font-size: 36px;
    padding: 0 60px;
}

.pink {
    position: absolute;
    width: 531px;
    height: 884px;
    left: -88px;
    top: 776px;

    background: #4F349F;
    filter: blur(50px);
}

/* logos end */
/* awesome */
.awesome {
    margin: 0;
    margin-block-start: 10%;
    text-transform: capitalize;
}

.awesome h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 93px;

    color: #FFFFFF;
}

.awesome p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */


    color: #868490;
}

.card img {
    width: 110.83px;
    height: 138.33px;
    padding-top: 20px;
}

.cardinfo a {
    float: right !important;
    color: wheat;
    font-size: 24px;
}

.card {

    width: 692px;
    height: 184px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row !important;
    background: rgba(9, 20, 39, 0.8) !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 6px;
}
.card i{
    color: wheat;
}
.card img{
    width: 110.83px;
height: 138.33px;
}
.card h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */


    color: #FFFFFF;
}

.card p {
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #868490;

}

/* fmini */
.fmini {
    width: 1200px;
    height: 993px;
    left: 120px;
    top: 2103px;

    background: rgba(9, 20, 39, 0.6);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 6px;
}

.fmini h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 93px;
    /* identical to box height */


    color: #FFFFFF;
}

.fmini a {
    width: 66px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    float: right;
    color: #F8E7A1;
    margin-right: 20px;
}

.mini {
    margin-left: 10px;
    margin-bottom: 10px;

}

.mini img {

    width: 360px;
    height: 260px;
    left: 160px;
    top: 2268px;

    background: url(image.png);
    border-radius: 12px 12px 0px 0px;
}

.end {
    width: 360px;
    height: 114px;
    left: 160px;
    top: 2538px;

    background: rgba(16, 27, 46, 0.3);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px 0px 12px 12px;
}

.end p:first-of-type {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.end p:last-of-type {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #868490;
}

.end {
    padding-top: 15px;
}

.end p {
    text-align: left !important;
    padding: 0 25px !important;
}

.pink2 {
    position: absolute;
    width: 1032px;
    height: 1377px;
    left: 541px;
    top: 1893px;

    background: linear-gradient(216.32deg, #8B3D4C 13.28%, rgba(79, 52, 159, 0) 101.61%);
    filter: blur(60px);
}

.fmini {
    margin-block-end: 100px;
}

#man {
    margin-top: 90px;
    width: 400px;
    height: 540px;
}

#note {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 150px;
    /* identical to box height */
    text-align: center;
    margin: 0;
    padding: 0;
    color: #FFFFFF;

}

#info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    /* or 138% */
    margin: 0;

    color: #FFFFFF;
}

#name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
}

#name+p {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    line-height: 30px;
    /* identical to box height */


    color: #868490;
}

.not {
    margin: 0;
}

#info+div {
    margin-block-start: 30px;
    overflow-y: hidden;
}

#info+div a {
    float: right;

}

.blue {
    position: absolute;
    width: 426.32px;
    height: 718.52px;
    left: -61.54px;
    top: 3371.95px;

    background: #2F45BC;
    filter: blur(60px);
}

/* last */
.container:last-of-type {
    /* padding: 0 !important;
    margin: 10px 0 !important; */
    width: 100%;
    /* height: 182px; */
    left: 0px;
    top: 4563px;
    margin-top: 50px;
    background: #091427;
}

.x p {
    font-weight: 600;
    font-size: 62px;
    line-height: 93px;
    margin-block-end: 100px;
    color: #FFFFFF;
}

.x a {
   
    color: wheat;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */


    
}
.x a i{
    font-size: 20px;
    color: wheat;
    padding: 0 15px;
    margin-top: 4px;
}
/* footer */
.last {
    width: 512px;
    height: 591px;


}

.footer {

   
    margin: 0 !important;
    background: #091427;
    width: 100% !important;
    
}

i {
    color: white;
    padding: 20px;
    
    font-size: 24px;
}

/* .row:last-of-type {
    margin: 0 !important;
} */

.footer p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: white;
    padding: 0 26px;
    padding-top: 10px;
}
.media{
    margin-left: 140px;
    display: flex;
    flex-direction: column;
}
.pc{
    max-width: 202px;
    margin-top: 190px;
   
}
/* .x-rel{
    position: relative;
}
.x{
   
    position: relative !important;
    z-index: 5;
    top: 20px;

} */
.socialmedia{
    padding-top:30px ;
    margin-left: 12%;
}
#dotsign{
    position: absolute;
    left:  100px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color:yellow;
}
body > div.container.pc > div > div:nth-child(2){
    position: absolute;
    left: 60%;
}
.x p{
    width: 600px;
}
.direct i{
    color: wheat;
}
body > div.container.m-0.p-0.w-100.d-inline > div > div > div:nth-child(1){
    margin-bottom: 0;
}